html {
  background-color: #fcfcfc;
  font-family: Montserrat, sans-serif;
}

body {
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

a:focus {
  outline: 3px solid #414182;
}

h3 {
  color: #414182;
}

.current {
  border-bottom: solid 3px #414182;
  color: #414182;
}

nav {
  background-color: #fff;
}

nav a {
  color: #414182;
  border: 0;
}

.container {
  max-height: 45em;
  overflow: hidden;
  bottom: 50%;
}

.growth h2 {
  color: #fff;
}

.btn {
  background-color: #fff;
  border: 0;
  color: #414182;
}

.btn-send {
  background-color: #414182;
  border: 0;
  color: #fff;
}

.btn:hover {
  background-color: #414182;
  color: #fff;
  border: 0;
  border-radius: 5px;
  transition: ease-in-out 250ms;
}

.banner-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.start-btn {
  background-color: #fff;
  color: #414182;
  border: solid 3px #fff;
  border-radius: 5px;
}

.start-btn:hover {
  border: solid 3px #fff;
  border-radius: 5px;
  color: #fff;
}

a {
  color: #1e1e1e;
}

.card {
  background-color: #fff;
  border: 3px solid #414182;
  border-radius: 5px;
  position: relative;
}

.card:hover {
  background-color: #e6e6ff;
  transition: ease-in-out 150ms;
}

.card:hover .trial-btn {
  background-color: #fff;
  border-radius: 5px;
  color: #414182;
  transition: ease-in-out 150ms;
}

.trial-btn {
  background-color: #414182;
  color: #fff;
  border: solid 3px #414182;
  border-radius: 5px;
  bottom: 1%;
  left: 25%;
}

.trial-btn:hover {
  background-color: #fff;
  border: solid 3px #414182;
  border-radius: 5px;
  color: #414182;
}

.review {
  background-color: #efeffb;
}

.person img {
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

input,
select,
textarea {
  border-color: #414182;
  border-width: 3px;
  border-radius: 5px;
  color: #414182;
  font-family: Montserrat, sans-serif;
}

label {
  font-family: Montserrat, sans-serif;
}

section p {
  color: #414182;
}

section .btn {
  background-color: #414182;
  border: solid 3px #414182;
  border-radius: 5px;
  color: #fff;
}

section .btn:hover {
  background-color: transparent;
  border: solid 3px #414182;
  border-radius: 5px;
  color: #414182;
}

.faq {
  background-color: rgba(252, 252, 252, .5);
}

.question {
  color: #414182;
}

.limit {
  color: #414182;
}

.home-link {
  color: #1e1e1e;
}

.home-link:hover {
  color: #414182;
  transition: ease-in-out 150ms;
}

footer {
  background-color: #fff;
  color: #414182;
}

tbody tr:nth-child(odd) {
  background-color: #e6e6ff;
}

.feature {
  width: 7em;
}

.storage {
  width: 6em;
}

.collab {
  width: 16em;
}

.accounts {
  width: 16em;
}

.network {
  width: 16em;
}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

  .logo {
    text-align: left;
  }

}
